.teacherPageHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.teacherPageHeaderCrumbWrapper {
  display: flex;
  align-items: center;
}

.teacherPageHeaderCrumb {
  font-size: 14px;
  color: #98a1b3;
  font-weight: 500;
}

.teacherPageHeaderCrumbActive {
  color: #1c1c1c;
  font-weight: 600;
}

.teacherPageHeaderSeparator {
  font-size: 10px;
  color: #c2c9d6;
  margin: 0 9px;
}
